/* OrangeButton.css */

.orange-button {
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-text {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f6f8f9;
  margin-left: 35px;
}
.text2{
  font-size: 18px;
  margin-bottom: 10px;
  color: #f6f8f9;
  margin-left: 45px;
}
.rectangular-button {
  background-color: #f37930;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 480px){

}
